In [1]:
!wget --no-cache -O init.py -q https://raw.githubusercontent.com/rramosp/20201.ai4eng/master/init.py
import init; init.init(force_download=False); init.get_weblink()

enabling encryption...
encryption enabled
replicating local resources
endpoint https://m5knaekxo6.execute-api.us-west-2.amazonaws.com/dev-v0001/rlxmooc

In [2]:
from local.lib.rlxmoocapi import submit, session
student = session.Session(init.endpoint).login( course_id=init.course_id, 
                                                session_id="UDEA", 
                                                lab_id="L02.03" )
init.get_weblink()

username: kevin.martinez@udea.edu.co
password: ··········
endpoint https://m5knaekxo6.execute-api.us-west-2.amazonaws.com/dev-v0001/rlxmooc

In [3]:
import numpy as np
import pandas as pd

# Task 1: Extract data

we have a dataframe of items with a price and, **sometimes**, with an extra column (`margin`).

You will have to complete a function that will **filter** the dataframe selecting the rows:

- whose price is > 100
- **OR** whose margin is >10, if the column `margin` is present

your function must return **A LIST** with the item ids of the selected rows

For instance, with the following dataframe

             price  category
    itemid                  
    56556   108.15       2.0
    73065    83.54       2.0
    36619   114.42       0.0
    73414    82.94       0.0
    13410   115.13       2.0
    66153    91.50       1.0
    77380    85.82       0.0
    73249    95.95       0.0
    11654   100.22       2.0
    11972    77.16       1.0

your must return the following list:

     [56556, 36619, 13410, 11654]
     
But if you get the following dataframe

             price  category  margin
    itemid                          
    39059    98.11       0.0   11.04
    19526    98.11       1.0   11.25
    78176    94.34       1.0   10.51
    50948   102.37       1.0   10.77
    12111    98.07       1.0    8.50
    56191    98.53       1.0   11.65
    38887    91.49       2.0   11.24
    77915   117.30       0.0    8.64
    55010    96.13       0.0    8.95
    45925    98.59       1.0   10.45
    
you must return the following list

    [39059, 19526, 78176, 50948, 56191, 38887, 77915, 45925]

In [4]:
def create_df(missing=False, n=10):
    itemid   = np.random.randint(100000, size=n)+1000
    category = np.random.randint(3, size=n)
    price    = np.round(np.random.normal(loc=100, scale=10, size=n),2)
    margin   = np.round(np.random.normal(loc=10, scale=1, size=n),2)
    
    if missing:
        nmissing = np.random.randint(len(price)//2)+2                                     
        price[np.random.permutation(len(price))[:nmissing]] = np.nan
    
    d = pd.DataFrame(np.r_[[price, category, margin]].T, index=itemid, columns=["price", "category", "margin"])
    d.index.name="itemid"
    if np.random.random()>.5:
        d = d[d.columns[:2]]
        
    return d

In [5]:
d = create_df()
d

         price  category  margin
itemid
60344    95.28       0.0    9.25
81126    91.72       2.0   10.18
57027    99.69       2.0   10.37
12761    89.33       1.0    9.62
22234   104.18       2.0   11.76
58712    95.74       0.0   10.88
68997    89.57       1.0   11.03
99947   107.77       1.0    9.83
4079     96.01       0.0   11.28
6057    107.47       1.0   10.75

In [ ]:
def select_items(df):
    columns = df.columns
    if 'margin' in columns:
        result = df[(df.price > 100) | (df.margin > 10)].index.tolist()
    else:
        result = df[(df.price > 100)].index.tolist()
    return result

**manually check your answer**

In [ ]:
select_items(d)

[84440, 73870, 95464, 12811, 93402, 9382]

**submit your code**

In [ ]:
student.submit_task(globals(), task_id="task_01");

# Task 2: Group statistics

Complete the following function so that it returns a dataframe with the average, max and min **prices** per category. 

For instance, for the following dataframe

             price  category  margin
    itemid                          
    17946    93.85       1.0   10.64
    61190    91.72       1.0    9.76
    39639   100.16       1.0   10.67
    17791   110.44       2.0    9.65
    7333    101.05       1.0    9.69
    77362   122.33       0.0   11.14
    92646   108.13       2.0   10.58
    27797    85.52       2.0   10.88
    31746    97.56       0.0    9.75
    12355   101.04       2.0    9.51
    
you should return the following dataframe

                 media  maximo  minimo
    categoria                         
    0         109.9450  122.33  97.56
    1          96.6950  101.05  91.72
    2         101.2825  110.44  85.52
    
observe that your result
- must not be a **multilevel** columnset.
- the column names and the index name must be **exactly** as in the example.
- the **index** must be of type **int**.

In [6]:
def get_stats(df):
    
    result = pd.DataFrame(index = [0, 1, 2], columns = ['media', 'maximo', 'minimo'])
    result.index.name = 'categoria'
    result['media'] = df[['price', 'category']].groupby('category').mean()
    result['maximo'] = df[['price', 'category']].groupby('category').max()
    result['minimo'] = df[['price', 'category']].groupby('category').min()
    
    return result

**manually check your answer**

In [8]:
d = create_df()
d

         price  category  margin
itemid
81739   105.38       1.0   11.35
3837    101.86       1.0   10.37
91960   102.65       2.0   10.39
43278   106.76       0.0    9.67
32217    89.38       1.0   10.15
88650    92.57       1.0    9.92
18823    82.08       1.0    9.10
7770    105.86       2.0    9.97
85834   101.10       2.0    9.24
90672    95.64       0.0    9.28

In [9]:
nf = get_stats(d)
nf

                media  maximo  minimo
categoria
0          101.200000  106.76   95.64
1           94.254000  105.38   82.08
2          103.203333  105.86  101.10

In [10]:
print(nf.index.dtype)
nf.index.astype(int)
print(nf.index.dtype)
nf.index.astype('int')
print(nf.index.dtype)

int64
int64
int64

**submit your code**

In [11]:
student.submit_task(globals(), task_id="task_02");

# Task 3: Fill in missing data

Fill in the missing data in the **price** column with the following procedure:

- compute the mean and std of the avaialable prices
- sample from a normal distribution with the computed mean and std (see [`np.random.normal`])(https://numpy.org/doc/stable/reference/random/generated/numpy.random.normal.html), as many samples as missing data
- substitute the missing values with the samples

For instance, for this input dataframe:

             price  category  margin
    itemid                          
    18922      NaN       1.0   10.32
    69500   121.25       1.0   10.22
    76442    90.25       1.0   12.60
    33863   106.51       0.0   10.26
    15904    95.87       1.0   11.51
    41946   103.47       2.0    9.85
    85451    93.08       2.0    9.56
    70028   116.68       1.0    9.11
    26860      NaN       2.0    9.71
    12807    91.48       0.0    9.77
    
your solution might be similar to this (not exactly the same as you will be sampling data):


                 price  category  margin
    itemid                              
    18922    97.441188       1.0   10.32
    69500   121.250000       1.0   10.22
    76442    90.250000       1.0   12.60
    33863   106.510000       0.0   10.26
    15904    95.870000       1.0   11.51
    41946   103.470000       2.0    9.85
    85451    93.080000       2.0    9.56
    70028   116.680000       1.0    9.11
    26860   103.294843       2.0    9.71
    12807    91.480000       0.0    9.77
    
    
**WARN**: your function must not modify the original dataframe, make a copy of the input dataframe, fill the values in the copy and return it.

**HINT**: use the [`isna()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isna.html) method of a dataframe or a series.

In [ ]:
def fillna(df):
    
    mean_std = df.describe()[['price']].loc['mean':'std'].to_numpy().tolist() # getting the mean and std
    
    na = df.isna()
    
    info = na[['price']].describe().to_numpy().tolist()
    if info[2][0] == False: 
        n_samples = info[0][0] - info[3][0]
    else: n_samples = info[3][0]
    
    new_samples = np.random.normal(mean_std[0][0], mean_std[1][0], n_samples)
    
    to_replace = na[na.price == True].index.tolist() # getting the rows to replace
    
    result = df.copy()
    
    i = 0 # replacing NaN values
    for index in to_replace:
        result.at[index, 'price'] = new_samples[i]
        i += 1
        
    return result

**check manually your code**

In [ ]:
d = create_df(missing=True)
d

         price  category
itemid
55860    98.39       1.0
5831     84.55       1.0
64358   104.73       0.0
33026    96.72       1.0
81521    80.60       2.0
82338   118.18       1.0
76433      NaN       0.0
2831    106.99       0.0
53022      NaN       2.0
8647    104.72       0.0

In [ ]:
fillna(d)

             price  category
itemid
55860    98.390000       1.0
5831     84.550000       1.0
64358   104.730000       0.0
33026    96.720000       1.0
81521    80.600000       2.0
82338   118.180000       1.0
76433   115.834559       0.0
2831    106.990000       0.0
53022   114.988148       2.0
8647    104.720000       0.0

**submit your code**

In [ ]:
student.submit_task(globals(), task_id="task_03");